name: Data Preprocessing Automation

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r preprocessing/requirements.txt

      - name: Run Preprocessing Script
        run: |
          cd preprocessing
          python automate_achmadichzan.py

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-update: Generate preprocessed data"
          file_pattern: "preprocessing/breast_cancer_preprocessing/*.csv"